{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br><br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <main id="main">
    <!--========MAIN PROFILE SECTION======-->
    <section id="hero" class="d-flex justify-content-center align-items-center" style="background-image:url({{ professor.profile_pic.url }})">

        </section>
    <!--========END MAIN PROFILE SECTION======-->
    <!--========ABOUT SECTION======-->
     <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About</h2>
          <p>About Me</p>
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{ professor.profile_pic.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
           <h3>Professor {{ professor.user.get_full_name }}.</h3>
            <p class="font-italic">
              I have doctorate at {{ professor.degree_of_doctorate }}.
            </p>
            {% if professor.bio  %}
            <h3>My Bio.</h3>
            <p class="font-italic">
              {{ professor.bio }}.
            </p>
            {% endif %}
          <h4>I am teaching at the following departments : </h4>
            <ul>
                {% for i in professor.departments_teach_to %}
              <li><i class="icofont-check-circled"></i>{{ i }}.</li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--========END ABOUT SECTION======-->
    {% if courses %}
     <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Courses</h2>
          <p>My Courses</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            {% for course in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ course.course_pic.url }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>{{ course.course_title }}</h4>
                </div>
                <h3><a href="{{ course.get_absolute_url }}">{{course.course_title}}</a></h3>
                <p>{{ course.course_description }}.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{course.professor.profile_pic.url}}" class="img-fluid" alt="">
                    <span>{{ course.professor.user.first_name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
     </section>
     <!--==============END COURSE SECTION================-->
    <!--========= Contact Section ========================-->
    <section id="contact" class="contact">
      <div data-aos="fade-up">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Me</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <a href="mailto:{{ professor.user.email }}">{{ professor.user.email }}</a>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{professor.phone_number}}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="post" >
                {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit" style="background: #5fcf80;border: 0;padding: 10px 35px;color: #fff;
                                                                   transition: 0.4s;border-radius: 50px;">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    <!--==============End Contact Section============-->
    </main>
{% endblock %}


